.top-bar-left li:hover{
   
    background-color:rgba(230, 51, 51, 0.1);
}

.top-bar-left a{
    color: grey;
}

.top-bar-left a:hover{
    color: red;
}

.buttons {
    border-radius: 100px/50px;
    background-color: red;
    color: whitesmoke;
    font-size: 20px;
    width: 130px;
    height: 50px;
    -moz-border-radius: 100px/ 50px;
    -webkit-border-radius: 100px/ 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.buttons li:hover{
    background-color: transparent;
}
.menubar {
    height: 0px;
    
}

.button {
    background-color: red;
}

.rowtwo {
    background-image: url(../img/me.jpeg);
    background-repeat: no-repeat;
    background-image: cover;
    margin-left: 20px;
}

.innerdiv {
    height: 90px;
}

.h2 {
    color: white;
}

.top-bar-right{
    letter-spacing: 0.2em;
}

#button{
border-radius: 0.2em;
    margin-left: 12%;
    width: 100%;
}


